/* Add this to your styles.css or styles.scss file */
.mdi--crown {
    display: inline-block;
    width: 0.6em; /* Adjust the width to your preference */
    height: 0.6em; /* Adjust the height to your preference */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23e7d404' d='M5 16L3 5l5.5 5L12 4l3.5 6L21 5l-2 11zm14 3c0 .6-.4 1-1 1H6c-.6 0-1-.4-1-1v-1h14z'/%3E%3C/svg%3E");
    vertical-align: middle; /* Adjust the vertical alignment to center it with the text */
    margin-right: 4px; /* Adjust the margin to position it to the left of the name */
  }
  
  /* leaderboard.component.scss */

.page-title {
  text-align: center;
  margin: 20px 0; /* Adjust the margin as needed */
}

h1 {
  color: #24069d; /* Set the color for the title text */
}

/* Add this to your component's styles or in the global styles */
.place-header,
.place-cell {
  width: 75px;
  max-width: 75px; /* Optional, but helps to ensure the width is not exceeded */
}

/* styles.scss */

body {
  background-color: #262626; /* Dark background color */
  color: #ffffff; /* White text color */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Specify your preferred font-family */
}


.crown-icon {
  color: #ffd700; /* Gold color for the crown icon */
}


