body {
    background-color: #262626; /* Dark background color */
    color: #ffffff; /* White text color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Specify your preferred font-family */
  }